{% extends 'base.html.twig' %}

{% block title %}Categories!{% endblock %}

{% block body %}
<div class="container">
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Category Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for category in categories %}
        <tr>
            <td>{{ category.id }}</td>
            <td>{{ category.name }}</td>
            <td>
                <button>Edit</button>
                <button>Delete</button>
            </td>
        </tr>
        {% else%}
        <p> there is nothing to see here  ! </p>
        {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}
