{% extends 'base.html.twig'%}

{% block body%}
<div class="container">

    <div class="form">
        <h1> Update Category </h1><br><br>
        {{form_start(form)}}

        {{ form_row( form.name,{'attr':{'class':'form form-control'} } ) }}

<input type="submit" value="Update" class="btn btn-primary">
        {{form_end(form)}}
    </div>

</div>
{%endblock%}