{% extends 'base.html.twig' %}

{% block title %}New Product{% endblock %}

{% block body %}
<div class="container">
    <h1>Add a Product</h1><br><br>

    {{ include('product/_form.html.twig') }}

    <a href="{{ path('app_product_index') }}">go back</a>

</div>
{% endblock %}
