<form  method="post" action="{{ path('app_sub_category_delete', {'id': sub_category.id}) }}" onsubmit="return confirm=('are you sureeeeee?? yooo man be sure pleaaase :x ')" ">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sub_category.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
